#records {
    max-height: 250px;
    overflow: scroll;
}

.format-drawing {
    color: red;
    font-weight: bold;
}

.format-painting{
    color: blue;
    font-style:italic;
}

.format-sketching{
    color: yellow;
    text-decoration: underline;
    font-family:cursive;
    font-weight: bold;
}
